<?xml version="1.0" encoding="UTF-8"?>
<config>
  <window>
    <button>
      <label>
        <text>hello äöü</text>
      </label>
      <color>blue</color>
      <font>monospace<size>16</size></font>
    </button>
    <size>
      <width>800</width>
      <height>600</height>
    </size>
  </window>
</config>
